@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

.tokens-grid {
    width: 100%;
    font-family: sans-serif;
    color: #fff;
    border-collapse: collapse;
}